body {
    margin: 0;
  }
  
  * {
    font-family: "Manrope", sans-serif;
    cursor: default;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 20vw;
    height: 20vh;
    line-height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
  }
  
  .topBar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .task-modal {
    background-color: rgba(0, 0, 0, 0.797);
    backdrop-filter: blur(2px);
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
  }
  
  .item-modal {
    background-color: rgba(0, 0, 0, 0.367);
    backdrop-filter: blur(2px);
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
  }
  
  .add-option {
    display: flex;
    align-items: center;
  }
  
  .taskContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
  }
  
  .taskCard {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 250px;
    height: 250px;
  }
  
  .taskTitle {
    text-align: center;
  }
  
  li
  {
    
  }